html, body {
	height: 100%;
	margin: 0;
	padding: 0; 
}

#container {
	/*position: relative;*/
	height:100%;
}

#map {
	height: 100%; 
}

#menu-container {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 99;
}

#sidr ul li{
	border:none;
	line-height: 46px;
}

#sidr ul li:hover{
	border:none;
	margin-bottom:none;
	padding-bottom: none;
}


#menu-container .menu-item .download {
	cursor: pointer; 
	/*margin-left: 5em;*/
}

#menu-container .menu-item h3 {
	font-size:100%;
	text-align: center;
	/*margin-left: 5em;*/
}


#menu-container .menu-item .history-checkbx
{
	margin-left: 1em;
}

#menu-container .menu-item .download {
	display: inline-block;
}

#menu-container .menu-item .download .glyphicon {
	padding: 10px;
}

#menu-container .items-container {
	float: right;
	height: calc( 100% - 64px );
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}

#menu-container ul {
	overflow:auto;
}

#menu-container ul li {
	height: 90%;
}

#menu-container ul li:hover {
	cursor: pointer;
}

#logo-container {
	/*position: absolute;*/
	/*bottom: 0;*/
	height: 64px;
	width:100%;
}

#logo-container img {
	height: auto;
	width:100%;
}




