<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>

	<script src="/socket.io/socket.io.js">
	</script>
    <script src="javascripts/index.js" type="text/javascript"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapsApiKey%>&callback=initMap">
    </script>
  </body>
</html>